* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: 'Russo One', sans-serif;
  }
  
  h1 {
    font-size: 3.5em;
  }
  
  h2 {
    font-size: 2.7em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.25em;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    font-size: 1em;
  }
  
  .color-bodeg {
    color: rgb(87, 17, 17);
  }
  
  button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color: rgb(99, 19, 19);
  }
  
  button:hover {
    background-color: rgb(131, 34, 34);
  }
  
  .container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
  
  header {
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='50' height='50' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(254, 178, 178,1)'/%3E%3Cpath d='M20 5a 20 20 0 0 1 40 0h10a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0h-10a 20 20 0 0 1 40 0z' fill='rgba(255, 250, 240,1)'/%3E%3Cpath d='M0 25a 20 20 0 0 1 40 0h10a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0a 10 10 0 0 1-20 0z' fill='rgba(254, 215, 215,1)'/%3E%3Cpath d='M20 45a 20 20 0 0 1 40 0h10a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0h-10a 20 20 0 0 1 40 0z' fill='rgba(255, 250, 240,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")

  }
  
  @media (min-width: 480px) {
    header {
      display: flex;
      justify-content: space-between;
    }
  }
  
  header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bolder;
    color: rgb(150, 0, 0);
    font-size: 2.5em;
    font-family: 'Russo One', sans-serif;

  }
  
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25%;
    margin: 0;
  }
  
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
  }
  
  header a {
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }
  
  header a:hover {
    color: rgb(185, 0, 0);
  }
  
  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 75vh;
    background-image: url("../css/images/doodad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  @media (max-width: 480px) {
    #hero {
      height: 70vh;
    }
  }
  
  #hero h1 {
    color: rgb(122, 0, 0);
  }
  
  #hero button {
    font-size: 1.75em;
  }
  
  @media (max-width: 480px) {
    #hero {
      height: 100vh;
    }
  
    #hero h1 {
      font-size: 2em;
    }
  
    #hero button {
      font-size: 1.5em;
    }
  }
  
  #Atajo {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
  }
  
  #Atajo .container {
    padding: 50px 0px;
  }
  
  #Atajo h2 {
    margin-top: 0;
    font-size: 2.5em;
  }
  
  .textitos {
    flex: 1;
    background-image: linear-gradient(
      0deg,
      rgba(94, 0, 0, 0.5),
      rgba(0, 45, 128, 0.5)
    ),
    url("../css/images/img4.jpg");
    background-position: center;
    background-size: cover;
    padding: 30px;
    margin: 15px;
    border-radius: 15px;
  }
  
  .textitos:nth-child(2) {
    background-image: linear-gradient(
      0deg,
      rgba(94, 0, 0, 0.5),
      rgba(0, 45, 128, 0.5)
    )
    , url("../css/images/img5.jpg");
    background-position: center;
    background-size: cover;
    padding: 30px;
    margin: 15px;
    border-radius: 15px;
  }
  
  .textitos:nth-child(3) {
    background-image: linear-gradient(
      0deg,
      rgba(94, 0, 0, 0.5),
      rgba(0, 45, 128, 0.5)
    )
    , url("../css/images/img9.jpeg");
    background-position: auto;
    background-size: cover;
    padding: 30px;
    margin: 15px;
    border-radius: 15px;
  }
  
  #pack {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  #pack .container {
    padding: 50px 0px;
    font-style: oblique;
  }
  
  #pack .container h3 {
    font-size: 2.5em;
    font-family: 'Russo One', sans-serif;
  }
  
  #pack h2 {
    margin-top: 0;
    font-size: 3em;
    font-style: oblique;
  }
  
  .pack:nth-child(1) {
    background-image: linear-gradient(
      0deg,
      rgba(94, 0, 0, 0.5),
      rgba(0, 45, 128, 0.5)
    )
    , url("../css/images/img2.jpg");
    background-position: center;
    background-size: cover;
    padding: 120px;
    margin: 20px;
    border-radius: 10px;
    margin-top: 200px;
  }
  
  .pack:nth-child(2) {
    background-image: linear-gradient(
      0deg,
      rgba(94, 0, 0, 0.5),
      rgba(0, 45, 128, 0.5)
    )
    , url("../css/images/img5.jpg");
    background-position: center;
    background-size: cover;
    padding: 120px;
    margin: 20px;
    border-radius: 10px;
  }
  
  .pack:nth-child(3) {
    background-image: linear-gradient(
      0deg,
      rgba(94, 0, 0, 0.5),
      rgba(0, 45, 128, 0.5)
    )
    , url("../css/images/img3.jpg");
    background-position: center;
    background-size: cover;
    padding: 120px;
    margin: 20px;
    border-radius: 10px;
  }
  
  #caracteristicas .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #caracteristicas h2 {
    font-size: bold;
    font-size: 30px;
    padding-left: 35px;
  }
  
  #caracteristicas li {
    margin: 15px 0px;
    font-weight: bold;
    list-style: circle;
    font-style: italic;
  }
  
  #presentacion3 li {
    margin: 15px 0px;
    font-weight: bold;
    list-style: circle;
    font-style: italic;
  }
  
  #reserva-ya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
  }
  
  #reserva-ya h2 {
    font-size: 5em;
  }
  
  #reserva-ya button {
    font-size: 2.5em;
  }
  
  footer {
    background-color: rgb(30, 30, 30);
  }
  

footer .container{
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    font-size: small;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 7px;

}

footer p{
    margin: 0;
    color: rgb(63, 63, 63);
    text-align: center;
    
    
}

@media (min-width: 720px){
    
    header{
        position: fixed;
        width: 100%;


    }
    
    header.container{
        flex-direction: row;
        justify-content: space-between;

    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
        

    }

    #intro .container{
        display: flex;
        justify-content: center;


    }
#intro .texto {
    width: 50%;
}

#intro .img-container {
    background-image: linear-gradient(0deg, rgba(105, 0, 0, 0.247), rgba(11, 0, 105, 0)),
      url("../css/images/img9.jpeg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    border-radius: 0px;
}

#intro .h2 {
    margin-top: 0;
}

@media (max-width: 400px) {
    #intro .texto {
        width: 100%;
    }

    #intro .img-container {
        width: 100%;
        background-size: cover;  
    }
}

    }

    #presentacion .container{
        display: flex;
        justify-content: center;
        padding-top: 200px;


    }

    #presentacion .texto{
        padding: 0px,30px;
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #presentacion .img-container{
      background-image: linear-gradient(
        0deg,
        rgba(94, 0, 0, 0.5),
        rgba(0, 45, 128, 0.5)
      ), url("../css/images/img8.jpeg");
        display: flex;
        background-size: cover;
        background-position: center;
        height: 700px;
        width: 50%;
        padding-top: 300px;
        border-radius: 15px;
        
        
    }

    #presentacion2 .container {
        display: flex;
        justify-content: center;
      
    }
      
    #presentacion2 .texto {
        padding: 0px 30px;
        width: 50%;
        text-align: left; /* Ajuste para alinear el texto a la izquierda */
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 1; /* Cambia el orden para que el texto aparezca primero */
    }
      
    #presentacion2 .img-container {
      background-image: linear-gradient(
        0deg,
        rgba(94, 0, 0, 0.5),
        rgba(0, 45, 128, 0.5)
      ), url("../css/images/img3.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        height: 700px;
        width: 50%;
        padding-top: 100px;
        border-radius: 15px;
        order: 2; /* Cambia el orden para que la imagen aparezca después */
    }
        
    

    
    #presentacion3 .container{
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 200px;
    }
    
        


    

    #presentacion3 .texto{
        padding: 0px,30px;
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #presentacion3 .img-container{
      background-image: linear-gradient(
        0deg,
        rgba(94, 0, 0, 0.5),
        rgba(0, 45, 128, 0.5)
      ), url("../css/images/img4.jpg");
        display: flex;
        background-size: cover;
        background-position: center;

        height: 700px;
        width: 50%;
        padding-top: 300px;
        border-radius: 15px;
        
    }
  
#presentacion .container{
    text-align: center;
    padding: 100px 12px;
    
}


.contacto{

    background-image: url(../css/images/img9.jpeg);
    background-position: center;
    background-size: cover;
    
}

.form{
    padding: 250px 10px;
    margin: auto;
    width: 450px;
    background: rgba(255, 112, 112, 0.6);
    box-sizing: border-box;
    border-radius: 15px;
    background-image: linear-gradient(
      0deg,
      rgba(94, 0, 0, 0.5),
      rgba(0, 45, 128, 0.5)
    )
    
}

form h2{
    color: white;
    text-align: center;
    margin: 0;
    font: 30px;
    margin-bottom: 40px;
    font-family: 'Russo One', sans-serif;

}

form input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;

}

form textarea{

    min-height: 200px;
    max-height: 200px;
    max-width: 100%;




}

#button-contacto{
    background: rgb(218, 44, 44);
    color: white;
    padding: 20px;
    border-radius: 15px;

}

#button-contacto:hover{
    cursor: pointer;


}



.img-gal{ 
    display:flex;
    background-size: cover;
    background-position: center;

    height: 700px;
    width: 50%;
    padding-top: 100px;
    border-radius: 15px;

}
.carousel {
    z-index: 0; 
}

header {
    z-index: 1; 
}

.carousel {
    z-index: 0;
    width: 40%; 
    margin: auto; 
}

/* Estilos para las imágenes dentro del carrusel */
.carousel-inner img {
    width: 100%; 
    height: auto; 
}


/*Sobre Nosotros nuevo agregado para responsive*/
/* Estilos originales */
#presentacion .texto,
#presentacion2 .texto,
#presentacion3 .texto {
    padding: 0 30px;
    width: 50%;
    text-align: initial;
    padding-left: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#presentacion .img-container,
#presentacion2 .img-container,
#presentacion3 .img-container {
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 50%;
    padding-top: 300px;
    border-radius: 15px;
}

#presentacion2 .container,
#presentacion3 .container {
    display: flex;
    justify-content: center;
}

#presentacion2 .texto,
#presentacion3 .texto {
    text-align: left;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 420px) {
    #presentacion .container,
    #presentacion2 .container,
    #presentacion3 .container {
        flex-direction: column;
        align-items: center;
    }

    #presentacion .img-container,
    #presentacion2 .img-container,
    #presentacion3 .img-container {
        width: 100%;
        height: 300px;
        padding-top: 0;
        border-radius: 0;
        background-size: cover;
        background-position: center;
    }

    #presentacion .texto,
    #presentacion2 .texto,
    #presentacion3 .texto {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}
